@page
@model lab_43_asp_entity_core.Pages.ToDoListModel
@{
    ViewData["Title"] = "ToDoList";
}

    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>To Do</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ToDoListModel.todos)
            {
                <tr>
                    <td>@item.ToDoItemId</td>
                    <td>@item.ToDoItemName</td>
                    <td>@item.DateCreated</td>
                </tr>
            }
        </tbody>
    </table>

<h2>ToDoList</h2>

