<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Wassup my bredren</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Stuff 1</h2>
    </div>
    <div class="col-md-4">
        <h2>Stuff 2</h2>
    </div>
    <div class="col-md-4">
        <h2>Stuff 3</h2>
    </div>
</div>
